.navbar {
    width: 100%;
    height: 100px;
    background: #21325e;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}

.toggleButton button {
    margin: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.toggleButton button:hover {
    filter: drop-shadow(0 0 2em #a284fe);
}

.navbar a:hover {
    filter: drop-shadow(0 0 2em #08fc00);
}

@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;
    }
}

@media only screen and (max-width: 599px) {
    .toggleButton {
        display: flex;
    }
    #close a {
        display: none;
    }

    #open {
        height: 100vh;
    }
    
    #open .links {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 50px;
    }
    
    #open a {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }
}